<!DOCTYPE html>
<html lang = "pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content ="widht=device-widht, initial-scale=1.0">
<link rel = "stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Projeto SpringBoot</title>
<meta name="author" content="CaioCipriano"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
</head>
<body>

	<div th:replace = "fragments/fragmentos :: cabecalho"></div>
 	
	 <section class="neo-section" style="background-image:url('img/escolabck2.png');">
		
		<div class="sombra"></div>
		 	
		 		
		 	<div class="center neo-container">
		 			<h1 class="texto-centro">Sistema de Gerenciamento de Alunos</h1>
		 	
			 	<div class="botoes"></div>
			 	
			 	
			 	
			 	<div class="wm">
			 		<a th:href="@{/inserir}" class="btn">Cadastrar Aluno</a>
			 	</div>
			 	
			 	 <div class="wm">
			 	 	 <a th:href="@{/filtroAlunos}" class="btn justify-content-center">Encontrar Aluno</a>
			 	 </div>
		 	 
		 
		 	
		 	   <div class="clear"></div>
		 	</div>
		 	
	</section>
	
	<!-- Inicio Modal -->
	
	 <div class="modal fade" id="pesquisa">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Encontre um aluno</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form method="post" action="pesquisar-aluno" th:object="${aluno}">
					<div class="modal-body">
						<input type = "text" th:field="*{nome}" class="form-control" placeholder="Nome do aluno..." >
					</div>	
					<div class="modal-footer">
						<button class="btn btn-danger" data-dismiss ="modal">Fechar</button>
						<button type="submit" class="btn btn-success">Pesquisar</button>
					</div>
				</form>
			</div>
		</div>
	</div> 
	
	
	
	<div th:replace = "fragments/fragmentos :: rodape"></div>
	
	
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/booststrap.min.js"></script>
	
	
	
</body>
</html>






	